__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/

.vscode/
.idea/
*.swp
Thumbs.db
Desktop.ini

output/
Players/
*.zip

wii_sports_resort.apworld
/dist/
/build/
/*.spec

/helpers/RFL_DB.dat